# List

In [1]:
lst=["apple", 10, "banana", 20, "kivi"]
lst

['apple', 10, 'banana', 20, 'kivi']

In [2]:
lst.append("mango")
lst

['apple', 10, 'banana', 20, 'kivi', 'mango']

In [5]:
lst.index(10)

1

In [6]:
lst.count("apple")

1

In [12]:
lst=["Bhavya", "Pushti", "Jinkal", "Nidhi"]
lst.remove("Jinkal")
lst

['Bhavya', 'Pushti', 'Nidhi']

In [9]:
lst=[1, 2, 3, 4, 5]
lst.reverse()
lst

[5, 4, 3, 2, 1]

# Dict

In [13]:
dit={"name" : "Bhavya", "age" : "19", "email" : "patelbhavya776@gmail.com", "number" : "123457890"}

In [14]:
dit

{'name': 'Bhavya',
 'age': '19',
 'email': 'patelbhavya776@gmail.com',
 'number': '123457890'}

In [15]:
dit.get("name")

'Bhavya'

In [16]:
dit.get("age")

'19'

In [17]:
dit.items()

dict_items([('name', 'Bhavya'), ('age', '19'), ('email', 'patelbhavya776@gmail.com'), ('number', '123457890')])

In [18]:
dit.keys()

dict_keys(['name', 'age', 'email', 'number'])

In [20]:
dit.pop("number")

'123457890'

In [21]:
dit.clear()

In [22]:
print(dit)

{}

# Set

In [26]:
st={1, 4, 3, 2, "c", "b", "a", "d"}
st

{1, 2, 3, 4, 'a', 'b', 'c', 'd'}

In [27]:
st1={1, 2, "a", "b"}

In [29]:
st1.issubset(st1)

True

In [30]:
st2={1, 2, 3, 4, 5, "a"}

In [31]:
st2.isdisjoint(st2)

False

In [33]:
st1.clear()
print(st1)

set()

In [35]:
st1.difference()

set()

In [41]:
st.remove(1)
st

{2, 3, 4, 'a', 'b', 'c', 'd'}

# Tuple

In [42]:
tup=("chocolate", "icecream", "dryfruits")
print(tup)

('chocolate', 'icecream', 'dryfruits')

In [43]:
tup.count("chocolate")

1

In [44]:
tup.index("dryfruits")

2

# String

In [45]:
classname="LETSUPGRADE"
print(classname)

LETSUPGRADE

In [46]:
my_name="Bhavya"
print(my_name)

Bhavya

In [47]:
name="Bhavya"
name1="Patel"

In [48]:
name+ " "+ name1

'Bhavya Patel'